<div id="<%= dom_id comment %>" style="display: flex; margin-top: 5%">
  <div style="margin-right: 8%">
    <strong><%= current_user.email %></strong>
    : <%= comment.body %>
  </div>
    <%= render partial: 'likes/button', locals: {likeable: comment} %>
</div>