<div style="display: flex; justify-content: space-around">
  <div>
    <%= likeable.likes.count %> Likes &nbsp
    <% like = current_user.likes.find_by(likeable: likeable) %>
  </div>
  <div>
    <% if like and like.valid? %>
      <%= button_to "Unlike", like_path(like), method: :delete, class: "btn btn-info" %>
    <% else %>
      <%= button_to "Like", likes_path, params: { like: { likeable_id: likeable.id , likeable_type: likeable.class.to_s}}, method: :post, class: "btn btn-info" %>
    <% end %>
  </div>
</div>